.list-items {
  list-style-type: none;
  margin-left: 15px;
}
.button-styling {
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #ffffff33;
  padding: 8px;
  background-color: #ffffff33;
  justify-content: center;
  height: 180px;
  width: 200px;
}
