.nav-container {
  background-color: #ffffff33;
  display: flex;
  flex-direction: row;
  margin: 0px;
  justify-content: space-evenly;
}

.log-design {
  height: 35px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.score-container {
  display: flex;
  flex-direction: row;
}

.desc {
  margin-left: 8px;
  color: #ffffff;
}
